
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    overflow-x: hidden;
    font-family: 'Fraunces';
    font-size: 14px;
    margin: 0px;
}

.navbar li, .navbar li .nav-item {
    list-style: none;
    text-decoration: none;
}

.sunny {
    font-weight: 600;
    font-family: 'Barlow';
}

.toggle-collapse {
    float: right;
    width: 50px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: 0vh;
}

.row-1 img {
    margin-left: 45vw;
    margin-top: 2rem;
}

.toggle-collapse i img {
    color: hsl(0, 0%, 100%);
    filter: grayscale(1) invert(1);
    margin-left: 1rem;
}

.toggle-collapse:hover {
    color: hsl(0, 0%, 100%);;
}

.nav-collapse {
    width: 100%;
    overflow: hidden;
    text-align: center;
    float: none;
    height: 0vh;
}

#nav {
    height: 100vh;
    position: fixed;
}

#delete {
    display: none;
}

.nav-item {
    color: black;
}

.sunny {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.navbar .nav-item a{
    text-decoration: none;
    text-align: center;
}

.header {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: hsl(197, 93%, 59%);
    margin: 0px;
    font-family: 'Barlow';
    font-weight: 600;
    padding: 1rem;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              

.navbar {
    text-decoration: none;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto auto auto;
    gap: 3em;
    align-items: center;
    padding: 3rem 2rem;
    background-color: hsl(0, 0%, 100%);;
    width: 90%;
    margin-top: 1rem;
}

.row-1 {
    background-image: url("images/image-header.jpg");
    background-size: cover;
    max-height: 100vh;
    height: 490px;
    background-position: center center;
    max-width: 100%;
    width: auto;
    margin: 0;
}

.main-content .h1 {
    text-align: center;
    letter-spacing: 0.3em;
    padding: 6rem 0 0 1rem;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

.sunny {
    margin: 0;
    font-weight: 600;
    font-family: 'Barlow';
}

.navbar li .nav-item:hover {
    color: black;
    background-color: hsl(51, 100%, 49%);
    border-style: solid;
    border-color: hsl(0, 0%, 100%);
    border-radius: 24px;
    text-transform: uppercase;
    padding: 1rem 1.2rem;
}


.img-transform {
    background-image: url("images/image-transform.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    background-position: center center;
    max-width: 100%;
    margin: 0;
}

.img-stand-out {
    background-image: url("images/image-stand-out.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    background-position: center center;
    max-width: 100%;
    margin: 0;
}

.col-2-first {
    display: flex;
    flex-direction: column-reverse;
}

.col-2-1, .col-3-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    align-content: center;
    margin-right: 0.5rem;
    margin-left: 0rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
    text-align: center;
}

.col-2-1 p, .col-3-1 p, .col-4-1 p, .col-4-2 p {
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
    padding: 1.5rem 0 0 0;
}

.col-3-1 h5 {
    margin: 0;
    padding: 1.5rem 0 0 0;
    border-bottom: 4px;
    border-bottom-style: inset;
    border-color: hsl(7, 99%, 87%);
}

.col-3-1 h5:hover {
    border-color: hsl(7, 99%, 70%);
}

.col-2-1 h5:hover {
    border-color: hsl(51, 100%, 49%);
}

.col-2-1 h5 {
    margin: 0;
    padding: 1.5rem 0 0 0;
    border-bottom: 4px;
    border-bottom-style: inset;
    border-color: hsl(51, 100%, 72%);
}

.col-4-1 {
    background-image: url("images/image-graphic-design.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center;
    color: hsl(167, 40%, 24%);
    padding: 90% 1rem 0px 0.5rem;
}

.col-4-2 {
    background-image: url("images/image-photography.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center;
    color: hsl(198, 62%, 26%);
    padding: 90% 1rem 0px 0.5rem;
}

.col-6 {
    padding: 3rem 0 4rem 0;
}

.col-6-0 p, .col-6-0 h7 {
    font-family: 'Barlow';
    font-weight: 600;
}

.col-6-p {
    letter-spacing: 0.4em;
    font-weight: 900;
}

.col-6-0 {
    padding: 2rem 2rem 1rem 2rem;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 5rem;
}

.col-5 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
} 

.col-5-child {
    height: auto;
    width: 50%;
    max-width: 100%;
} 

.profile-foot h5, .profile-foot h7 {
    margin: 0;
}

footer {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-7>h4 {
    text-align: center;
}

.col-7-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

.col-8 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 30px 0;
}

.col-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(168, 34%, 41%);
}


@media only screen and (min-width: 768px) {

body {
    background-color: hsl(0, 0%, 100%);;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Fraunces';
    font-size: 18px;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    background-color: hsl(197, 93%, 59%);
    align-items: center;
    width: 100vw;
    margin: 0px;
    font-family: 'Barlow';
    font-weight: 600;
}

.toggle-collapse {
    display: none;
}

.row-1 img {
    margin-left: 50vw;
    margin-top: 8rem;
}

.navbar {
    text-decoration: none;
    display: grid;
    justify-content: right;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    align-items: center;
    margin-right: 50px;
    background-color: transparent;
    padding: 0 5px;
}

.sunny, .nav-item {
    color: hsl(0, 0%, 100%);
}

.sunny {
    font-weight: 600;
    font-family: 'Barlow';
    padding: 0;
    margin-bottom: 4.5%;
    margin-left: 2%;
}

.navbar li .nav-item {
    padding: 5px 5px;
    border-radius: 22px;
    border: 10px solid transparent;
    transform: scale(5);
}

.navbar li .nav-item:hover {
    color: black;
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 22px;
    margin: 0;
    padding: 5px 5px;
    text-transform: inherit;
    
}

.navbar li .nav-item::before {
    border-radius: 22px;
    margin: 0;
    padding: 5px 5px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    text-transform: uppercase;
}

.row-1 {
    background-image: url("images/image-header.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    margin: 0;
 }

.col-2-first {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0;
    padding: 0;
}

.img-transform {
    background-image: url("images/image-transform.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: auto;
}

.img-stand-out {
    background-image: url("images/image-stand-out.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: auto;
}


.col-2-1 {
    width: 50vw;
    max-width: fit-content;
    margin: auto;
    padding: 0 6%;
}

.col-2-1 h1, .col-2-1 p, .col-2-1 h5, .col-3-1 h1, .col-3-1 p, .col-3-1 h5 {
    font-family: 'Fraunces';
    text-align: justify;
}

.col-2-1 h1, .col-3-1 h1 {
    padding: 0 30% 0 0;
    text-align: left;
}

.col-2-1 h5, .col-3-1 h5 {
    margin-right: 81%;
}

.col-2-1 p, .col-2-1 h5, .col-3-1 p, .col-3-1 h5 {
    text-align: left;
    font-family: 'Barlow';
}

.col-2-1 h5 {
    font-weight: 900;
}

.col-3 {
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: fit-content;
}

.col-3-1 {
    width: 50vw;
    max-width: auto;
    padding: 0 6%;
    margin: 0;
}

.col-3 img {
    width: 50vw;
}

.col-4 {
    display: flex;
    flex-direction: row;
    height: 550px;
    height: 100%;
    max-width: auto;
}

.col-4-1 {
    background-image: url("images/image-graphic-design.jpg");
    width: 50vw;
    background-size: cover;
    background-position: center center;
    height: auto;
    padding: 21rem 8rem 3rem 8rem ;
    text-align: center;
    max-width: auto;
}

.col-4-2 {
    background-image: url("images/image-photography.jpg");
    background-position: center center;
    width: 50vw;
    background-size: cover;
    height: auto;
    padding: 21rem 9rem 3rem 9rem;
    text-align: center;
    max-width: auto;
}

.nav-collapse {
   margin: 0;
   padding: 0;
   height: 100%;
   width: fit-content;
   
}

.main-content .h1 {
    text-align: center;
    letter-spacing: 0.5em;
    padding: 6rem 0 0 1rem;
    color: hsl(0, 0%, 100%);
}


.col-6 {
    height: auto;
    height: 90vh;
    padding: 3rem 0 0 0;
}

.col-6-0 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 1rem 3rem 0rem 3rem;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-top: 3rem;
}

.profile-foot {
    margin-top: 3rem;
}

.col-6-2 {
    padding: 0 0 0 0;
}

.col-6-p {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
}

.col-5 {
    height: 100%;
    height: auto;
}

.col-5-child {

    height: auto;
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 25%;
} 

.col-7-1 {
    text-align: center;
}

.col-8 {
    text-align: center;
}
}